.completed-list {
    margin: 0 auto;
}

.completed-item {
    padding: 1rem;
}

.completed-info{
    flex-grow: 1;
    text-align: center;
}

.completed-img{
    display: block;
    max-width: 50%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.26);
}